.idea
build
data/original
data/processed
data/result
data/shared
data/shared/dataset
data/shared/result
data/local/
data/server_events
data/out
data/dataset
data/exp_configs
data/server_exp
*.env
enzrxnpred.egg-info
/bin/local/
tests/data
enzrxnpred2.egg-info
bin/local
local
dist
logs
